body {
  margin: 0;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, span {
  color: white;
}

.calculator {
  margin: 100px 0;
  width: 200px;
  height: 300px;
  color:white;
  background-color: #073b4c;
}

.display {
  padding-right: 15px;
  padding-top: 15px;
  text-align: right;
  font-size: 25px;
  border:  5px solid #06d6a0;
  border-radius: 5px 5px 0 0;
}

#equal {
  background-color: #06d6a0;
  color: white;
  border-radius: 0 0 5px 5px;
}

button {
  outline: none;
  border: none;
  font-size: 20px;
}

button:hover {
  background-color: rgba(255,255,255,.8);
  cursor: pointer;
}

#divide, #multiply, #subtract, #add
{
  background-color: orange;
  color: white;
}

#divide:hover, #multiply:hover, #subtract:hover, #add:hover
{
  background-color: rgb(255,190,0);
  cursor: pointer;
}

#equal:hover {
  background-color: rgba(6,214,160,.9);
}
/*===== Grid =======*/
.display { grid-area: display; }
#seven { grid-area: seven; }
#eight { grid-area: eight; }
#nine { grid-area: nine; }
#divide { grid-area: divide; }
#four { grid-area: four; }
#five { grid-area: five; }
#six { grid-area: six; }
#multiply { grid-area: multiply; }
#one { grid-area: one; }
#two { grid-area: two; }
#three { grid-area: three; }
#subtract { grid-area: subtract; }
#zero { grid-area: zero; }
#decimal { grid-area: decimal; }
#clear { grid-area: clear; }
#add { grid-area: add; }
#equal { grid-area: equal; }

.calculator {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
         "display display display display"
         "seven eight nine divide"
         "four five six multiply"
         "one two three subtract"
         "zero decimal clear add"
         "equal equal equal equal";
}
